---
import Features from '../components/Features.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import CallToAction from '../components/CallToAction.astro';
import Demovideo from '../components/Demovideo.astro';
---

<Layout title="Welcome to Astrolus.">
	<main class="mb-40">
		<HeroSection/>
		<Demovideo/>
		<Features/>
		<CallToAction/>
	</main>
</Layout>